.hero-section{
    background-image: url(../stylesfolder/eagle-logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    height: 500px;
    width: 1400px;
}

.hero-section>.top-heading{
    color: red;
    font-family: sans-serif;
}

.hero-section>.bottom-heading{
    color: red;
    font-family: sans-serif;
}

.bottom-section{
    display: flex;
    justify-content:space-around;
    align-content: center;
    background-color: yellow;
}
.bottom-section>.right-side>.delivery-truck img{
    height: 50px;
    width: 50px;
    background-color: black;
}